<div style = "    margin: 20px 20px 20px 20px;">
<div style = "margin-left: 20px;
margin-top: 30px;display: inline-block;
border-style: outset;    padding: 50px;">
    product 1
</div>
<div style = "margin-left: 40px;
margin-top: 30px;display: inline-block;border-style: outset;    padding: 50px;">
    product 2
</div>
<div style = "margin-left: 40px;
margin-top: 30px;display: inline-block;border-style: outset;    padding: 50px;">
    product 3
</div>
<div style = "margin-left: 44px;
margin-top: 30px;display: inline-block;border-style: outset;    padding: 50px;">
    product 4
</div>
<div style = "margin-left: 44px;
margin-top: 30px;display: inline-block;border-style: outset;    padding: 50px;">
    product 5
</div>
</div>
