<h1>{{title}}</h1>
<hr/>
<div class = "navbar">
   <a routerLink="/greet">Home</a>
   <span> | </span>
   <a routerLink="/bindings">User management</a>
   <span> | </span>
   <a routerLink="/toggle">Conditional Output</a>
   <span> | </span>
   <a routerLink="/pipes">Formatters</a>
   <span> | </span>
   <a routerLink="/fbService">Service</a>
   <span> | </span>
   <a routerLink="/http">Call Http Service</a>
</div>
<hr/>
<!-- <app-greet></app-greet> -->
<!-- <app-bindings></app-bindings> -->
<router-outlet></router-outlet>